<!DOCTYPE html>
<html lang="en">

<head>
<style>
    #upload_info{
        margin-top:-50px;
        margin-right: -80px; 
    }
</style>
    <meta charset="UTF-8">
    {% load static %}
    <title>Registration</title>
    <!-- <link rel="icon" type="image/x-icon" href="{% static '/img/favicon.ico' %}"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
    <div class="col-md-12" style="background-color: lightblue;height:65px;text-align: center;">
        <h1><i class="fa fa-shopping-cart"></i>&nbsp;<b>Purchase Management System</b></h1>
    </div>
    <br>
    
    <h3 style="text-align:center"><b>Registration</b></h3>
    <div class="text-left" style="margin-left:20px">
        <a href="/pu_index"><u>Back to home page</u></a>
    </div>
    <div class="text-right" style="margin-right:140px;margin-top:-35px">
        <details><summary style="margin-right:-100px; color:darkred">To upload multiple users at on shot</summary><br>
        <a href="{% static 'Excel/PMS_template.xlsx' %}" download style="margin-right:60px"><u>Template &nbsp;<i class="fa fa-download"></i></u></a>  
        <form method="post" id="upload_form" action="/upload_user" enctype="multipart/form-data">
            {% csrf_token %}
        <input type="button" id="upload_info" class="btn btn-primary" value="Upload excel" onclick="upload_user()">
        <input type="file" name="user_info" id="usr_info" onchange="form_submit()" style="display:none">
        </form>   
        </details>
    </div><br>
    <div class="col-md-10 col-md-offset-2 text-center">
        <form action="" method="POST" id="reg_form">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-md-3 control-label text-right"><b>Name:</b></label>
                <input type="text" class="col-md-4" name="name" required>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label text-right"><b>Email:</b></label>
                <input type="email" class="col-md-4" name="email" required>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label text-right"><b>Team/Dept:</b></label>
                <input type="text" class="col-md-4" name="team" required>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label text-right"><b>User Type</b></label>
                <select class="col-md-4" name="utype" required>
                    <option>SELECT</option>
                    {% for ut in utype %}
                    <option value="{{ ut.user_type_id }}">{{ ut.user_type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label text-right"><b>User Name:</b></label>
                <input type="text" class="col-md-4" name="uname" required>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label text-right"><b>Password:</b></label>
                <input type="password" id="pwd" class="col-md-4" name="pwd" required>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label text-right"><b>Confirm Password</b></label>
                <input type="password" id="cpwd" class="col-md-4" name="cpwd" required>
            </div>
           
            <div class="col-md-6"  style="margin-left:450px" >
                <input  type="submit" id="reg_btn" name="submit" value="Register"
                    class="col-md-3 btn btn-primary">

                <input  type="submit" id="cancel_btn" name="submit" value="Cancel"
                    class="col-md-3 btn btn-warning">
                </div>
        </form>
    </div>

    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.3.js"></script>

<script type="text/javascript">

    $("#reg_btn").click(function(){
        var pwd = $("#pwd").val();
        var cpwd = $("#cpwd").val();
        if(pwd == cpwd)
        {
            return true;
        }
        else
        {
            alert('Password not match');
            return false;
        }
    });

    $("#cancel_btn").click(function(){
        location.reload();
    });

    function upload_user() {
            $("#usr_info").click();
        }

        function form_submit() {
            // var exl_name = $("#inv_" + req_id).val().replace(/C:\\fakepath\\/i, '');
            $("#upload_form").submit();
        }
</script>   

</body>
</html>